
@{
    ViewData["Title"] = "Exec03";
}

<h1>Exec03</h1>

<div>
    <button type="button" onclick="alert('Giliarde')"><a>Qual seu nome?</a></button>
    <br />
    <button type="button" onclick="alert('19 anos')"><a>Qual sua idade?</a></button>
    <br />
    <button type="button" onclick="alert('Blumenau')"><a>Cidade onde mora</a></button>
    <br />
</div>


